<div class="signinbody toCenter">
    <div class="container login">
        <div class=" col-sm-12  col-md-6 col-lg-5 col-xl-4 ml-auto mr-auto mt-5 mb-5">
            <!-- <form class=" shadow-lg p-3 bg-white rounded" method="POST" action="./index.php?controller=users&action=login"> -->
                <div class="shadow-lg p-3 bg-white rounded">

                    <div class="row">
                        <div class="col-12 mr-auto ml-auto mb-4 mt-4">
                            <h3 class="h3SingUp" *ngIf="register" i18n>Crea tu cuenta</h3>
                            <h3 class="h3SingUp" *ngIf="!register" i18n>Bienvenido</h3>
                            <div class="spanFolderIcon col-7  mx-auto">
                                <i class="fa fa-folder-open folderIcon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="register">
                            <!-- Introducir nombre -->
                            <div class="form-group col-12 mr-auto ml-auto mb-5 ">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="spanIcon input-group-text">
                                            <i class="material-icons">person</i>
                                        </span>
                                    </div>
                                    <input class="form-control inputIcon" type="text" i18n-placeholder placeholder="Nombre" [(ngModel)]="user.username">
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <!-- Introducir correo -->
                        <div class="form-group col-12 mr-auto ml-auto mb-5 ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class=" spanIcon input-group-text">
                                        <i class="material-icons">email</i>
                                    </span>
                                </div>
                                <input class="form-control inputIcon" type="email" i18n-placeholder placeholder="Email" [(ngModel)]="user.email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Introducir contraseña -->
                        <div class="form-group col-12 mr-auto ml-auto mb-5 ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="spanIcon input-group-text">
                                        <i class="material-icons">lock</i>
                                    </span>
                                </div>
                                <input class=" form-control inputIcon" type="password" i18n-placeholder placeholder="Contraseña" [(ngModel)]="user.password">
                            </div>
                            <small class="form-text text-muted" i18n>Min 6 caracteres</small>
                        </div>
                    </div>
                    <div class="col">
        
 
                        <div class="row">
                            <!-- BOTONES -->
                            <div class="form-group col-11 ml-auto mr-auto">
                                <div class="container-login100-form-btn mb-5">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>
                                        <button class="login100-form-btn " (click)="registerUser()" *ngIf="register" i18n>
                                                aceptar
                                            </button>
                                        <button class="login100-form-btn " (click)="login()" *ngIf="!register" i18n>
                                            entrar
                                        </button>
                                    </div>
                                </div>
                                <small class="form-text text-muted redirectSingIn" *ngIf="register" i18n>¿Ya tienes una cuenta? <a
                                    class="text-muted" (click)="register=false" >Inicia sesión</a></small>

                                <small class="form-text text-muted redirectSingIn" *ngIf="!register" i18n>¿Aún no tienes cuenta?<a
                                        (click)="register=true" class="text-muted" > Registrate</a></small>
        
                                <div class="navbar-nav mr-auto ">
                                    <div class="nav-item dropdown">
                                        <a class="nav-link col-1 mx-auto" id="smallerscreenmenuIdioma"
                                            aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                                            <span class="menu-collapsed mr-2"><i class="fa fa-globe"></i></span>
        
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right"
                                            aria-labelledby="smallerscreenmenuIdioma">
                                            <a class="dropdown-item" (click)="english()" i18n>Inglés</a>
                                            <a class="dropdown-item" (click)="spanish()" i18n>Español</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </form> -->
        </div>
    </div>
</div>