/*------------------ ETIQUETAS GENERALES ------------------*/

html, body{
    height: 100%;
    font-family: Poppins;
  }
  
  .toCenter{
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  
  form{
      padding-bottom: 2%;
      padding-top: 2%;
      background-color: white;
  }
  
  i{
    color: #999999;
  }
   
  
  
  /* MENU LATERAL */
  
  
  
  
 
  
  