
<!-- MENUDE LA IZQUIERDA -->
<div class="row" id="body-row">
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block ">
        <ul class="list-group">


            <!-- MENU DE IDIOMA -->
            <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
                class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-globe fa-fw mr-3"></span>
                    <span class="menu-collapsed">Idioma</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <!-- OPCIONES MENU IDIOMA -->
            <div id='submenu1' class="collapse sidebar-submenu">
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Inglés</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Español</span>
                </a>
            </div>


            <!-- OPCION DE CARPETA -->
            <a href="#" class="bg-dark list-group-item list-group-item-action" data-toggle="modal"
                data-target="#modalCreateFolder">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-folder fa-fw mr-3"></span>
                    <span class="menu-collapsed">Crear carpeta</span>
                </div>
            </a>

            <!-- MENU DE FICHERO -->
            <a href="" class="bg-dark list-group-item list-group-item-action" data-toggle="modal"
                data-target="#modalUploadFile">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-file fa-fw mr-3"></span>
                    <span class="menu-collapsed">Subir fichero</span>
                </div>
            </a>


        </ul>
    </div>

    <app-center-layout (click)="closeMenu()" oncontextmenu="return false" class="col" [folders]="folders"></app-center-layout>
</div><!-- body-row END -->

<!-- MODAL CREAR CARPETA-->
<div class=" modal fade" id="modalCreateFolder" tabindex="-1" role="dialog" aria-labelledby="createFolderTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="col-9 px-0 mx-auto modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createFolderTitle">Crea una carpeta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div  >
                <div class="mx-auto cuerpoModal cuerpoModal modal-body">
                    <p>Introduce el nombe de la carpeta</p>
                    <div class="col-10 mx-auto"><input class="inputModal col-12" type="text" placeholder="Nombre" [(ngModel)]="folder.NOMBRE">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)='createFolder()'>Crear carpeta</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- MODAL CREAR FICHERO-->
<div class=" modal fade" id="modalUploadFile" tabindex="-1" role="dialog" aria-labelledby="createFolderTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="col-9 px-0 mx-auto modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createFolderTitle">Añade un fichero</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

                <div class="mx-auto cuerpoModal cuerpoModal modal-body file-upload">
                    <p>Añade un fichero</p>
                    <div class="col-10 mx-auto"><input class="inputModal" type="file" name="image" ng2FileSelect [uploader]="uploader" accept="*" class="col-12" placeholder="Nombre">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary"  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length"  data-dismiss="modal">Crear carpeta</button>
                </div>

        </div>
    </div>
</div>

